# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod


# Executables
*.exe
*.out
*.app

# vs
/.vs/

# Build
/x64/
/Debug/
/project/x64/
/project/Debug/

# res and test files
/_res/
